.grid{
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 200px;
  line-height: 200px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding-top: 5px;
}


.add-band:hover{
  background: url("/band1.jpeg") center no-repeat;
  color: transparent;
}


.show-band:hover{
  background:url("/band2.jpeg") center no-repeat;
  color: transparent;
}



.add-venue:hover{
  background:url("/venue1.jpeg") center no-repeat;
  color: transparent;
}


.show-venue:hover{
  background:url("/venue2.jpeg") center no-repeat;
  color: transparent;
}

#index-container {
  margin: 20%;
}
