.grid{
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 200px;
  line-height: 200px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding-top: 5px;
}


.brazil:hover{
  background: url("/brazil.png") center no-repeat;
  color: transparent;
}


.american:hover{
  background:url("/america.jpeg") center no-repeat;
  color: transparent;
}



.mexican:hover{
  background:url("/mexican.png") center no-repeat;
  color: transparent;
}


.ethiopian:hover{
  background:url("/ethiopian.png") center no-repeat;
  color: transparent;
}


.japanese:hover{
  background:url("/japan.jpeg") center no-repeat;
  color: transparent;
}


.british:hover{
  background:url("/british.png") center no-repeat;
  color: transparent;
}


.italian:hover{
  background:url("/italy.gif") center no-repeat;
  color: transparent;
}


.indian:hover{
  background:url("/indian.png") center no-repeat;
  color: transparent;
}

.login{
  float: right;
}

h1{
  padding-top: 5%;
}

.left{
  float: left;
}

.right{
  float: right;
}
